.header {
    display: flex;
    justify-content: space-between; 
    align-items: center; 
    color: #000000;
    padding: 30px;
    background-color: #fff;
}

.header p {
    margin: 0; 
    font-weight: bold;
}

nav a {
    text-decoration: none; 
    color: #000000; 
    margin-left: 10px; 
}

nav a:hover {
    text-decoration: underline; 
    color:#77398f;
}
