@import url("https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    background-color: #f2f2f2;
}

.container {
    min-height: 100vh;
    min-width: 319px;
    /* background-color: aqua; */
    padding: 20px;
}

.techkle_big_img{
    position: relative;
}

.techkle_big_img img{
    display: flex;
    height: 630px;
    width: 100%;
    border-radius: 20px;
    margin-bottom: 50px;
}

#scrollDownBtn {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    padding: 10px 20px;
    background-color: #005691;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-bottom: 50px;
    font-size: 17px;
}

.techkle_animate {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height:100px;
	position: relative;
    margin: 50px 0 0 0;
    padding-top: 50px;
}

.techkle_animate h2 {
	font-size: 6em;
	position: absolute;
}

.techkle_animate h2:nth-child(1) {
	color: transparent;
	-webkit-text-stroke: 2px #005691;
}

.techkle_animate h2:nth-child(2) {
	color: #005691;
	animation: animate 4s ease-in-out infinite;
}

@keyframes animate {
	0%,
	100% {
		clip-path: polygon(
			0% 45%,
			16% 44%,
			33% 50%,
			54% 60%,
			70% 61%,
			84% 59%,
			100% 52%,
			100% 100%,
			0% 100%
		);
	}

	50% {
		clip-path: polygon(
			0% 60%,
			15% 65%,
			34% 66%,
			51% 62%,
			67% 50%,
			84% 45%,
			100% 46%,
			100% 100%,
			0% 100%
		);
	}
}

h3 {
    display: flex;
    justify-content: center;
    font-size: 30px;
    padding-top: 20px;
    color: #005691;
}

/* .nav_bar {
    height: fit-content;
} */

.nav_bar p {
    font-size: 24px;
    font-weight: bold;
    color: #005691;
    padding: 10px 0 0 30px;
}

.nav_bar .row {
    display: flex;
    flex-direction: column;
}

.flex-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: nowrap;
    overflow-x: auto;
}

.flex-container::-webkit-scrollbar{
    width: 0;
}

.flex-container > div {
    background-color: #fff;
    width: 150px;
    height: 150px;
    margin: 10px;
    text-align: center;
    line-height: 50px;
    font-size: 30px;
    border-radius: 20px;
    cursor: pointer;   
}

.flex-container img {
    width: 150px;
    height: 150px;
    border: 2px solid #005691;
    border-radius: 20px;
}

.line {
    height: 1px;
    background-color: #000;
    margin: 10px 0;
}

/*category css*/
#ca, #pc, #aa, #sa, #ms, #cm, #ga, #fh {
    position: relative; 
}

#ca:hover img,
#pc:hover img,
#aa:hover img,
#sa:hover img,
#ms:hover img,
#cm:hover img,
#ga:hover img,
#fh:hover img {
    filter: blur(20px); 
    transition: filter 0.3s ease; 
    border: 2px solid #005691;
}

#ca::after,
#pc::after,
#aa::after,
#sa::after,
#ms::after,
#cm::after,
#ga::after,
#fh::after {  
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 16px;
    opacity: 0; 
    transition: opacity 0.3s ease; 
}

#ca::after {
    content: "Charging Accessories";
}

#pc::after {
    content: "Protection Cases"; 
}

#aa::after {
    content: "Audio Accessories"; 
}

#sa::after {
    content: "Storage Accessories"; 
}

#ms::after {
    content: "Mounts Stands"; 
}

#cm::after {
    content: "Cleaning"; 
}

#ga::after {
    content: "Gaming Accessories"; 
}

#fh::after {
    content: "Fitness Health"; 
}

#ca:hover::after,
#pc:hover::after,
#aa:hover::after,
#sa:hover::after,
#ms:hover::after,
#cm:hover::after,
#ga:hover::after,
#fh:hover::after {
    opacity: 1; 
}

/*product display css*/
.ca {
    height: 700px;
    padding: 20px;
    background-color:#fff;
    margin: 20px 0 20px 0;
}

.ca p{
    font-size: 20px;
    font-weight: bold;
    margin-left: 10px;
}

.flexbox-container {
    display: flex;
    flex-direction: row;
    overflow-x: auto;
    width: 100%; /* Container takes full width of its parent */
    max-width: 1600px; /* Maximum width of the container to display 4 divs at a time */
    margin: 0 auto; /* Center the container horizontally */
}

.flexbox-container > div {
    background-color:#005691;
    width: 400px;
    height: 600px;
    margin: 10px;
    text-align: center;
    line-height: 50px;
    font-size: 30px;
    border-radius: 20px;
    cursor: pointer;   
}
